<div class="container-fluid">
    <h1 class="form_page_header text-center ">Inbox</h1>
    <div class="row margin_top_header">
        <div class="col-xs-12 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom">
                    <h3 class="panel-title">All Messages</h3>
                </div>
                <div class="panel-body ">
                    <ul class="properties_list" ng-show="model.userMessages">
                        <li ng-repeat="message in model.userMessages">
                            <div class="property_details">
                                <div class="form_label">
                                    <a href ng-click="model.findMessageDetailsById(message)" class="truncate_property_title">{{message.message_by_name}}</a>
                                </div>
                                <h6>{{message.message_time}}</h6>
                                <hr>
                            </div>

                        </li>
                    </ul>
                    <span ng-hide="model.userMessages.length" class="help-block form_label">No Messages</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom">
                    <h3 class="panel-title">Message Details</h3>
                </div>
                <div class="panel-body ">
                    <ul class="properties_list" ng-show="model.chat">
                        <li ng-repeat="message in model.chat">
                            <div class="property_details">
                                <div class="form_label">
                                    <button type="button" ng-click="model.removeMessage(message)" class="close" >
                                        <span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button>
                                    <a href class="truncate_property_title">{{message.message_by_name}}</a>
                                </div>
                                <h3 class="form_label">Message</h3>
                                <p>{{message.message}}</p>
                                <hr>
                            </div>

                        </li>
                    </ul>
                    <div ng-show="model.chat">

                        <div class="form-group ">
                            <label class="control-label form_label" for="inputMessage">Reply</label>
                            <textarea rows="3" class="form-control" placeholder="type your reply here..." ng-model = "model.typedMessage" id="inputMessage"></textarea>
                        </div>
                        <div class="form-group col-xs-12">
                            <button  type="submit"  class="btn btn-block form_button_background form_button_text" ng-click="model.sendMessage(model.typedMessage)">Send</button>
                        </div>
                    </div>

                    <span ng-hide="model.chat" class="help-block form_label">Click on a message to see details here</span>
                </div>
            </div>
        </div>
    </div>
</div>