<div class="container-fluid">
    <div class="row">
        <div class = "margin_top_header">
            <div class="col-md-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <h3 class="panel-title">Profile</h3>
                    </div>
                    <div class="panel-body">


                        <div class="alert alert-success" role="alert" ng-show="model.updateMessage">
                            <button type="button" ng-click="model.alertClosed()" class="close" ><span aria-hidden="true">&times;</span></button>
                            {{model.updateMessage}}
                        </div>
                        <form class="form-horizontal" >
                            <div class="form-group">
                                <label for="inputUsername" class="col-sm-2 control-label form_label">Username</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="model.user.username" class="form-control" id="inputUsername" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-2 control-label form_label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" ng-model="model.user.password" class="form-control" id="inputPassword" placeholder="Password">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputFirstName" class="col-sm-2 control-label form_label"><span class="no-breaking">First Name</span></label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="model.user.firstName" class="form-control" id="inputFirstName" placeholder="First Name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputLastName" class="col-sm-2 control-label form_label"><span class="no-breaking">Last Name</span></label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="model.user.lastName" class="form-control" id="inputLastName" placeholder="Last Name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label form_label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" ng-model="model.user.email" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" ng-click="model.update(model.user)" class="btn btn-block form_button_background form_button_text">Update</button>
                                    <br>
                                </div>
                            </div>
                            <!--<div class="form-group">-->
                            <!--<div class="col-sm-offset-2 col-sm-8">-->
                            <!--<button type="submit" ng-click="model.showFavourites()" class="btn btn-block form_button_background form_button_text">View Favourite Apartments</button>-->
                            <!--<br>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                            <!--<div class="col-sm-offset-2 col-sm-8">-->
                            <!--<button type="submit" ng-click="model.listApartment()" class="btn btn-block form_button_background form_button_text">List Apartment</button>-->
                            <!--<br>-->
                            <!--</div>-->
                            <!--</div>-->
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <h3 class="panel-title">Profile</h3>
                    </div>
                    <div class="panel-body">


                        <div class="alert alert-success" role="alert" ng-show="model.updateMessage">
                            <button type="button" ng-click="model.alertClosed()" class="close" ><span aria-hidden="true">&times;</span></button>
                            {{model.updateMessage}}
                        </div>
                        <form class="form-horizontal" >
                            <div class="form-group">
                                <label for="inputUsername" class="col-sm-2 control-label form_label">Username</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="model.user.username" class="form-control" id="inputUsername" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-2 control-label form_label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" ng-model="model.user.password" class="form-control" id="inputPassword" placeholder="Password">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputFirstName" class="col-sm-2 control-label form_label"><span class="no-breaking">First Name</span></label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="model.user.firstName" class="form-control" id="inputFirstName" placeholder="First Name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputLastName" class="col-sm-2 control-label form_label"><span class="no-breaking">Last Name</span></label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="model.user.lastName" class="form-control" id="inputLastName" placeholder="Last Name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label form_label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" ng-model="model.user.email" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" ng-click="model.update(model.user)" class="btn btn-block form_button_background form_button_text">Update</button>
                                    <br>
                                </div>
                            </div>
                            <!--<div class="form-group">-->
                            <!--<div class="col-sm-offset-2 col-sm-8">-->
                            <!--<button type="submit" ng-click="model.showFavourites()" class="btn btn-block form_button_background form_button_text">View Favourite Apartments</button>-->
                            <!--<br>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                            <!--<div class="col-sm-offset-2 col-sm-8">-->
                            <!--<button type="submit" ng-click="model.listApartment()" class="btn btn-block form_button_background form_button_text">List Apartment</button>-->
                            <!--<br>-->
                            <!--</div>-->
                            <!--</div>-->
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <h3 class="panel-title">Favourited Apartments</h3>
                    </div>
                    <div class="panel-body fixed_height_scroll">
                        <ul class="properties_list" ng-show="model.favoritedApartments">
                            <li ng-repeat="apartment in model.favoritedApartments" >
                                <div class="property_details">
                                    <h5>
                                        <button type="button" ng-click="model.removeFavourite(apartment.id)" class="close" >
                                            <span aria-hidden="true">&times;</span></button>
                                        <a href class="truncate_property_title" ng-click="model.findApartmentDetailsById(apartment.id)">{{apartment.name}}</a>

                                    </h5>
                                    <h6>Bedroom : {{apartment.number_of_bedrooms}}, Bath : {{apartment.number_of_bathrooms}}</h6>
                                    <hr>
                                </div>

                            </li>
                        </ul>
                        <span ng-hide="model.favoritedApartments" class="help-block form_label">No favourites</span>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <h3 class="panel-title">Your Apartments</h3>
                    </div>
                    <div class="panel-body fixed_height_scroll">
                        <ul class="properties_list" ng-show="model.favoritedApartments">
                            <li ng-repeat="apartment in model.userApartments">
                                <div class="property_details">
                                    <h5>
                                        <!--<button type="button" ng-click="model.removeFavourite(apartment.id)" class="close" >-->
                                            <!--<span aria-hidden="true">&times;</span></button>-->
                                        <a class="truncate_property_title">{{apartment.title}}</a>

                                    </h5>
                                    <h6>Bedroom : {{apartment.number_of_bedrooms}}, Bath : {{apartment.number_of_bathrooms}}</h6>
                                    <hr>
                                </div>

                            </li>
                        </ul>
                        <span ng-hide="model.userApartments" class="help-block form_label">No apartments listed</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
