<div class="container-fluid">
    <div class="row">
        <div class = "margin_top_header">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <div class="row">
                            <div class="panel-title col-xs-9">Profile</div>
                            <div><a ng-click="model.messages()" class="col-xs-offset-1  col-xs-2 text-right  panel-title glyphicon glyphicon-envelope"></a></div>
                        </div>


                    </div>
                    <div class = "panel-body">
                        <div class="col-md-4 col-sm-12">
                            <div class="panel panel-default">

                                <div class="panel-body">
                                    <img ng-show="model.user.profilePicUrl" src="{{model.user.profilePicUrl}}" alt="User Profile Picture" class="img-circle profile_picture">
                                    <br>
                                    <br>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <div class=" col-sm-12" ng-show="model.showFileChoosing">
                                                <input type="file" file-model="model.fileModel" id="profilePic" placeholder="Update">
                                            </div>
                                            <div class="col-sm-12">
                                                <button ng-click="model.updateProfilePic()" class="btn form_button_background form_button_text col-xs-12"> {{model.updateProfilePicBtn}} </button>
                                            </div>
                                        </div>
                                    </form>
                                    <br>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <form class="form-horizontal" >
                                <div class="form-group">
                                    <label for="inputUsername" class="col-sm-2 control-label form_label">Username</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="model.user.username" class="form-control" id="inputUsername" placeholder="Username" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-sm-2 control-label form_label">Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" ng-model="model.user.password" class="form-control" id="inputPassword" placeholder="Password" disabled>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputFirstName" class="col-sm-2 control-label form_label"><span class="no-breaking">First Name</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="model.user.firstName" class="form-control" id="inputFirstName" placeholder="First Name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputLastName" class="col-sm-2 control-label form_label"><span class="no-breaking">Last Name</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="model.user.lastName" class="form-control" id="inputLastName" placeholder="Last Name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail" class="col-sm-2 control-label form_label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" ng-model="model.user.email" class="form-control" id="inputEmail" placeholder="Email">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" ng-click="model.update(model.user)" class="btn btn-block form_button_background form_button_text">Update</button>
                                        <br>
                                    </div>
                                </div>







                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <h3 class="panel-title">Favourited Apartments</h3>
                    </div>
                    <div class="panel-body ">
                        <ul class="properties_list" ng-show="model.favoritedApartments">
                            <li ng-repeat="apartment in model.favoritedApartments" >
                                <div class="property_details">
                                    <div class="form_label">
                                        <button type="button" ng-click="model.removeFavourite(apartment.id)" class="close" >
                                            <span aria-hidden="true">&times;</span></button>
                                        <a href class="truncate_property_title" ng-click="model.findApartmentDetailsById(apartment)">{{apartment.name}}</a>

                                    </div>
                                    <h6>Bedroom : {{apartment.number_of_bedrooms}}, Bath : {{apartment.number_of_bathrooms}}</h6>
                                    <hr>
                                </div>

                            </li>
                        </ul>
                        <ul class="properties_list" ng-show="model.favoritedApartmentsDb">
                            <li ng-repeat="apartment in model.favoritedApartmentsDb" >
                                <div class="property_details">
                                    <div class="form_label">
                                        <button type="button" ng-click="model.removeFavourite(apartment._id)" class="close" >
                                            <span aria-hidden="true">&times;</span></button>
                                        <a href class="truncate_property_title" ng-click="model.findApartmentDetailsById(apartment)">{{apartment.title}}</a>

                                    </div>
                                    <h6>Bedroom : {{apartment.number_of_bedrooms}}, Bath : {{apartment.number_of_bathrooms}}</h6>
                                    <hr>
                                </div>

                            </li>
                        </ul>
                        <span ng-hide="model.favoritedApartments.length" class="help-block form_label">No favourites</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <h3 class="panel-title">Your Apartments</h3>
                    </div>
                    <div class="panel-body ">
                        <ul class="properties_list" ng-show="model.userApartments">
                            <li ng-repeat="apartment in model.userApartments">
                                <div class="property_details">
                                    <div class="form_label">
                                        <!--<button type="button" ng-click="model.removeFavourite(apartment.id)" class="close" >-->
                                        <!--<span aria-hidden="true">&times;</span></button>-->
                                        <a href ng-click="model.findApartmentDetailsById(apartment)" class="truncate_property_title">{{apartment.title}}</a>

                                    </div>
                                    <h6>Bedroom : {{apartment.number_of_bedrooms}}, Bath : {{apartment.number_of_bathrooms}}</h6>
                                    <hr>
                                </div>

                            </li>
                        </ul>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-8">
                                <button type="submit" ng-click="model.listApartment()" class="btn btn-block form_button_background form_button_text">Add Apartment</button>
                                <br>
                            </div>
                        </div>
                        <span ng-hide="model.userApartments" class="help-block form_label">No apartments listed</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <h3 class="panel-title">Upcoming Bookings</h3>
                    </div>
                    <div class="panel-body ">
                        <ul class="properties_list" ng-show="model.userBooking">
                            <li ng-repeat="booking in model.userBooking" >
                                <div class="property_details">
                                    <div class="form_label">
                                        <a href class="truncate_property_title" ng-click="model.findApartmentDetailsById(booking.apartmentId)">{{booking.apartmentName}}</a>
                                    </div>
                                    <h6 class="form_label">Cost:&nbsp;${{booking.amount}}</h6>
                                    <div class="row">
                                        <div class="help-block col-xs-7">From:{{model.formatDate(booking.startDate)}}</div>
                                        <div class="help-block col-xs-7">To:{{model.formatDate(booking.endDate)}}</div>

                                        <button type="button" ng-click="model.removeBooking(booking._id)" class="col-xs-offset-1 col-xs-3 btn btn-defalut form_button_background form_button_text" >
                                            <span aria-hidden="true">Cancel</span></button>
                                    </div>
                                    <hr>
                                </div>

                            </li>
                        </ul>
                        <span ng-hide="model.userBooking.length" class="help-block form_label">No upcoming bookings</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
