<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12 col-md-12 ">
            <div class="alert alert-success margin_top_header" role="alert" ng-show="model.showAlert">
                <button type="button" ng-click="model.alertClosed()" class="close" ><span aria-hidden="true">&times;</span></button>
                {{model.showAlert}}
            </div>
            <br>
            <h1 class="form_page_header">Register</h1>

            <form class="form-horizontal" >
                <div class="form-group">
                    <label for="inputUsername" class="col-sm-2 control-label form_label">First Name</label>
                    <div class="col-sm-10">
                        <input ng-model="model.user.firstName" type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputUsername" class="col-sm-2 control-label form_label">Last Name</label>
                    <div class="col-sm-10">
                        <input ng-model="model.user.lastName" type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label form_label">Email</label>
                    <div class="col-sm-10">
                        <input ng-model="model.user.email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputUsername" class="col-sm-2 control-label form_label">Username</label>
                    <div class="col-sm-10">
                        <input ng-model="model.user.username" type="text" class="form-control" id="inputUsername" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label form_label">Password</label>
                    <div class="col-sm-10">
                        <input ng-model="model.user.password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputReEnterPassword" class="col-sm-2 control-label form_label">Verify Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputReEnterPassword" placeholder="Re-enter Password">
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-click="model.register(model.user)" type="submit" class="btn btn-block form_button_background form_button_text">Register</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
