.modal_login_btn {
    text-decoration: none;
    color: #fff;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

.modal_login_btn {
    margin: 30px 0 0 50px;
    padding: 10px 30px 11px 30px;
    border: 2px solid #ffffff;
    background: transparent;

    transition: background .1s linear;
    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    -o-transition: background .1s linear;
}

.modal_dialog {
    background: rgba(28, 54, 85, .2);
}

.form_label {
    color: #666464;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-size: 16px!important;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 28px;
}

.form_button_background {
    background: rgba(28, 54, 85, .6);
}

.form_button_text {
    text-decoration: none;
    color: #fff;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

.form_page_header {
    color: #666464;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 28px;
}