<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Form</h1>
            <ul class="nav nav-tabs">
                <li><a href="#/forms">Forms</a></li>
                <li class="active"><a href="#/fields">Fields</a></li>
            </ul>

            <form  onsubmit="return checkRegistration()" action="../users/login.view.html">
                <br>
                <fieldset class="form-group">
                    <label for="inputFirstName">First Name</label>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                        </div>
                        <div class="form-group col-xs-6">
                            <div class=" no-breaking " >
                                <a href="#" class="glyphicon glyphicon-pencil my-styling-pencil" title="edit"></a>
                                <a href="#" class="glyphicon glyphicon-plus my-styling-plus" title="clone field"></a>
                                <a href="#" class="glyphicon glyphicon-remove my-styling-remove" title="remove field"></a>
                                <a href="#" class="glyphicon glyphicon-align-justify my-styling-lines" title="reorder" ></a>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">

                    <label for="inputLastName">Last Name</label>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                        </div>
                        <div class="form-group col-xs-6">
                            <div class=" no-breaking ">
                                <a href="#" class="glyphicon glyphicon-pencil my-styling-pencil" title="edit"></a>
                                <a href="#" class="glyphicon glyphicon-plus my-styling-plus" title="clone field"></a>
                                <a href="#" class="glyphicon glyphicon-remove my-styling-remove" title="remove field"></a>
                                <a href="#" class="glyphicon glyphicon-align-justify my-styling-lines" title="reorder"></a>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label for="inputDob">Date of Birth</label>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <input type="date" class="form-control" id="inputDob" placeholder="Date of Birth">
                        </div>
                        <div class="form-group col-xs-6">
                            <div class=" no-breaking">
                                <a href="#" class="glyphicon glyphicon-pencil my-styling-pencil" title="edit"></a>
                                <a href="#" class="glyphicon glyphicon-plus my-styling-plus" title="clone field"></a>
                                <a href="#" class="glyphicon glyphicon-remove my-styling-remove" title="remove field"></a>
                                <a href="#" class="glyphicon glyphicon-align-justify my-styling-lines" title="reorder"></a>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label for="inputGender">Gender</label>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <select id="inputGender" class="form-control">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-6">
                            <div class=" no-breaking">
                                <a href="#" class="glyphicon glyphicon-pencil my-styling-pencil" title="edit"></a>
                                <a href="#" class="glyphicon glyphicon-plus my-styling-plus" title="clone field"></a>
                                <a href="#" class="glyphicon glyphicon-remove my-styling-remove" title="remove field"></a>
                                <a href="#" class="glyphicon glyphicon-align-justify my-styling-lines" title="reorder"></a>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label>Roles:</label>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Admin
                                </label>
                                <br>
                                <label>
                                    <input type="checkbox"> Student
                                </label>
                                <br>
                                <label>
                                    <input type="checkbox"> User
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <div class=" no-breaking">
                                <a href="#" class="glyphicon glyphicon-pencil my-styling-pencil" title="edit"></a>
                                <a href="#" class="glyphicon glyphicon-plus my-styling-plus" title="clone field"></a>
                                <a href="#" class="glyphicon glyphicon-remove my-styling-remove" title="remove field"></a>
                                <a href="#" class="glyphicon glyphicon-align-justify my-styling-lines" title="reorder"></a>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label>License Agreement:</label>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <div class="radio">
                                <label>
                                    <input type="radio"> Yes
                                </label>
                                <br>
                                <label>
                                    <input type="radio"> No
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <div class=" no-breaking">
                                <a href="#" class="glyphicon glyphicon-pencil my-styling-pencil" title="edit"></a>
                                <a href="#" class="glyphicon glyphicon-plus my-styling-plus" title="clone field"></a>
                                <a href="#" class="glyphicon glyphicon-remove my-styling-remove" title="remove field"></a>
                                <a href="#" class="glyphicon glyphicon-align-justify my-styling-lines" title="reorder"></a>
                            </div>
                        </div>
                    </div>

                </fieldset>
                <hr class="form-group" />
                <fieldset class="form-group">
                    <label for="inputAddField">Add New Field:</label>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <select id="inputAddField" class="form-control">
                                <option>Single Line Text</option>
                                <option>Date</option>
                                <option>Dropdown</option>
                                <option>Checkboxes</option>
                                <option>Radio Buttons</option>
                                <option>Paragraph Text Field</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-6">
                            <div class=" no-breaking">
                                <a href="#" class="glyphicon glyphicon-plus my-styling invisible-link" ></a>
                                <a href="#" class="glyphicon glyphicon-plus my-styling-plus" title="clone field"></a>
                                <a href="#" class="glyphicon glyphicon-plus my-styling invisible-link" ></a>
                                <a href="#" class="glyphicon glyphicon-plus my-styling invisible-link" ></a>


                            </div>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>
</div>
