<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Form</h1>
            <ul class="nav nav-tabs">
                <li><a href="#/forms">Forms</a></li>
                <li class="active"><a href="#/fields">Fields</a></li>
            </ul>
            <div my-sortable>
                <div ng-repeat="field in fields" ng-switch on="field.type">
                    <div ng-switch-when="TEXT">
                        <fieldset class="form-group">
                            <label for="{{field._id}}">{{field.label}}</label>
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <input type="text" class="form-control" id="{{field._id}}" placeholder="{{field.placeholder}}">
                                </div>
                                <div class="form-group col-xs-6">
                                    <div class=" no-breaking " >
                                        <a ng-click="open('TEXT', field)" class="glyphicon glyphicon-pencil my-styling-pencil" title="edit"></a>
                                        <a href="#" class="glyphicon glyphicon-plus my-styling-plus" title="clone field"></a>
                                        <a ng-click="removeField(field)" class="glyphicon glyphicon-remove my-styling-remove" title="remove field"></a>
                                        <a href="#" class="glyphicon glyphicon-align-justify my-styling-lines" title="reorder" ></a>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div ng-switch-when="EMAIL">
                        <fieldset class="form-group">

                            <label for="{{field._id}}">{{field.label}}</label>
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <input type="email" class="form-control" id="{{field._id}}" placeholder="{{field.placeholder}}">
                                </div>
                                <div class="form-group col-xs-6">
                                    <div class=" no-breaking ">
                                        <a ng-click="open('EMAIL', field)" class="glyphicon glyphicon-pencil my-styling-pencil" title="edit"></a>
                                        <a href="#" class="glyphicon glyphicon-plus my-styling-plus" title="clone field"></a>
                                        <a ng-click="removeField(field)" class="glyphicon glyphicon-remove my-styling-remove" title="remove field"></a>
                                        <a href="#" class="glyphicon glyphicon-align-justify my-styling-lines" title="reorder"></a>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div ng-switch-when="TEXTAREA">
                        <fieldset class="form-group">
                            <label for="{{field._id}}">{{field.label}}</label>
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <textarea class="form-control" id="{{field._id}}" placeholder={{field.placeholder}}></textarea>
                                </div>
                                <div class="form-group col-xs-6">
                                    <div class=" no-breaking">
                                        <a ng-click="open('TEXTAREA', field)" class="glyphicon glyphicon-pencil my-styling-pencil" title="edit"></a>
                                        <a href="#" class="glyphicon glyphicon-plus my-styling-plus" title="clone field"></a>
                                        <a ng-click="removeField(field)" class="glyphicon glyphicon-remove my-styling-remove" title="remove field"></a>
                                        <a href="#" class="glyphicon glyphicon-align-justify my-styling-lines" title="reorder"></a>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div ng-switch-when="OPTIONS">
                        <fieldset class="form-group">
                            <label for="{{field._id}}">{{field.label}}</label>
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <select id="{{field._id}}" class="form-control">
                                        <option ng-repeat="option in field.options" value="{{option.value}}">{{option.label}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-xs-6">
                                    <div class=" no-breaking">
                                        <a ng-click="open('OPTIONS', field)" class="glyphicon glyphicon-pencil my-styling-pencil" title="edit"></a>
                                        <a href="#" class="glyphicon glyphicon-plus my-styling-plus" title="clone field"></a>
                                        <a ng-click="removeField(field)" class="glyphicon glyphicon-remove my-styling-remove" title="remove field"></a>
                                        <a href="#" class="glyphicon glyphicon-align-justify my-styling-lines" title="reorder"></a>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div ng-switch-when="DATE">
                        <fieldset class="form-group">
                            <label for="{{field._id}}">{{field.label}}</label>
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <input type="date" class="form-control" id="{{field._id}}" placeholder="{{field.placeholder}}">
                                </div>
                                <div class="form-group col-xs-6">
                                    <div class=" no-breaking ">
                                        <a ng-click="open('DATE', field)" class="glyphicon glyphicon-pencil my-styling-pencil" title="edit"></a>
                                        <a href="#" class="glyphicon glyphicon-plus my-styling-plus" title="clone field"></a>
                                        <a ng-click="removeField(field)" class="glyphicon glyphicon-remove my-styling-remove" title="remove field"></a>
                                        <a href="#" class="glyphicon glyphicon-align-justify my-styling-lines" title="reorder"></a>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div ng-switch-when="RADIOS">
                        <fieldset class="form-group">
                            <label for="{{field._id}}">{{field.label}}</label>
                            <div class="row">
                                <div id="{{field._id}}" class="col-xs-6">
                                    <div class="radio" ng-repeat="option in field.options">
                                        <label>
                                            <input type="radio" name="{{field.label}}" value="{{option.value}}" checked>
                                            {{option.label}}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-xs-6">
                                    <div class=" no-breaking ">
                                        <a ng-click="open('RADIOS', field)" class="glyphicon glyphicon-pencil my-styling-pencil" title="edit"></a>
                                        <a href="#" class="glyphicon glyphicon-plus my-styling-plus" title="clone field"></a>
                                        <a ng-click="removeField(field)" class="glyphicon glyphicon-remove my-styling-remove" title="remove field"></a>
                                        <a href="#" class="glyphicon glyphicon-align-justify my-styling-lines" title="reorder"></a>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div ng-switch-when="CHECKBOXES">
                        <fieldset class="form-group">
                            <label for="{{field._id}}" class="control-label">{{field.label}}</label>
                            <div class="row">
                                <div id="{{field._id}}" class="col-xs-6">
                                    <div class="checkbox" ng-repeat="option in field.options">
                                        <label>
                                            <input type="checkbox" value="{{option.value}}">
                                            {{option.label}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class=" no-breaking ">
                                        <a ng-click="open('CHECKBOXES', field)" class="glyphicon glyphicon-pencil my-styling-pencil" title="edit"></a>
                                        <a href="#" class="glyphicon glyphicon-plus my-styling-plus" title="clone field"></a>
                                        <a ng-click="removeField(field)" class="glyphicon glyphicon-remove my-styling-remove" title="remove field"></a>
                                        <a href="#" class="glyphicon glyphicon-align-justify my-styling-lines" title="reorder"></a>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <hr class="form-group" />
            <fieldset class="form-group">
                <label for="inputAddField">Add New Field:</label>
                <div class="row">
                    <div class="form-group col-xs-6">
                        <select ng-model="model.fieldType" id="inputAddField"  class="form-control">
                            <option ng-repeat="option in model.availableOptions" value="{{option.name}}">{{option.name}}</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-6">
                        <div class=" no-breaking">
                            <a href="#" class="glyphicon glyphicon-plus my-styling invisible-link" ></a>
                            <a ng-click="addField(model.fieldType)" class="glyphicon glyphicon-plus my-styling-plus" title="clone field"></a>
                            <a href="#" class="glyphicon glyphicon-plus my-styling invisible-link" ></a>
                            <a href="#" class="glyphicon glyphicon-plus my-styling invisible-link" ></a>


                        </div>
                    </div>
                </div>

            </fieldset>


        </div>
    </div>
    <script type="text/ng-template" id="labelPlaceholder.html">
        <div class="modal-header">
            <h3 class="modal-title">{{popupHeader}}</h3>
        </div>
        <div class="modal-body">
            <label for="TEXTLABEL" class="control-label">Label:</label>
            <div class="row nowrap">
                <div class="col-xs-12" >
                    <input type="text" id="TEXTLABEL" ng-model="editField.label" class="form-control">
                </div>
            </div>

            <br>

            <label for="TEXTPLACEHOLDER" class="control-label">Placeholder:</label>
            <div class="row nowrap">
                <div class="col-xs-12" >
                    <input type="text" id="TEXTPLACEHOLDER" ng-model="editField.placeholder" class="form-control">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="submit(editField)">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="labelPlaceholderDate.html">
        <div class="modal-header">
            <h3 class="modal-title">{{popupHeader}}</h3>
        </div>
        <div class="modal-body">
            <label for="DATELABEL" class="control-label">Label:</label>
            <div class="row nowrap">
                <div class="col-xs-12" >
                    <input type="text" id="DATELABEL" ng-model="editField.label" class="form-control">
                </div>
            </div>

            <br>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="submit(editField)">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="labelOptions.html">
        <div class="modal-header">
            <h3 class="modal-title">{{popupHeader}}</h3>
        </div>
        <div class="modal-body">
            <label for="LABEL" class="control-label">Label:</label>
            <div class="row nowrap">
                <div class="col-xs-12" >
                    <input type="text" id="LABEL" ng-model="editField.label" class="form-control">
                </div>
            </div>

            <br>

            <label for="PLACEHOLDER" class="control-label">Options:</label>
            <div class="row nowrap">
                <div class="col-xs-12" >
                    <textarea id="PLACEHOLDER" ng-model="editField.placeholder" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="submit(editField)">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
