<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>Review Apartments</h1>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ApartmentId</th>
                        <th>Review</th>
                        <th>No. of Stars</th>
                    </tr>
                    <tr>
                        <th><input ng-model="review.apartmentId" class="form-control"/></th>
                        <th><input ng-model="review.description" class="form-control"/></th>
                        <th><input ng-model="review.rating" class="form-control"/></th>

                        <th>
                            <button ng-click="addReview(review)" class="btn btn-primary">Add</button>
                            <button ng-click="updateReview(review)" class="btn btn-primary btn-success">Update</button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="review in users">
                        <td>{{review.apartmentId}}</td>
                        <td>{{review.description}}</td>
                        <td>{{review.rating}}</td>
                        <td>
                            <button ng-click="removeReview($index)" class="btn btn-danger">Remove</button>
                            <button ng-click="selectReview($index)" class="btn btn-info">Select</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>