<div class="row">
    <uib-carousel active="active" interval="myInterval" ng-show="model.newSlides" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in model.newSlides track by $index" index = "$index" >
            <img align="middle"  ng-src="{{slide.place_photo.url}}">
        </uib-slide>
    </uib-carousel>
    <div class="col-xs-12 col-md-6">
        <div class="top-buffer ">
            <div class="container-fluid">
                <div class="top-buffer">
                    <h1 class="text-center">{{model.apartment.name}}
                        <button ng-click="model.addApartmentToFavourites()" ng-show="newUser" type="submit" class="glyphicon glyphicon-heart" ng-show="model.favouriteButton === 'marked'"></button>
                    </h1>
                </div>
                <br>
                <h5><small>Description</small></h5>
                <p>{{model.apartment.description}}</p>


                <h2 class="page-header">Amenities</h2>
                <ul>
                    <li ng-repeat="amenities in model.apartment.amenities_list track by $index">
                        {{amenities}}
                    </li>
                </ul>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Review</th>
                            <th>No. of Stars(_/5)</th>
                        </tr>

                        </thead>
                        <tbody>
                        <tr ng-repeat="review in model.reviews">
                            <td>{{review.description}}</td>
                            <td>{{review.rating}}</td>
                        </tr>
                        <tr ng-show="newUser">
                            <th><input ng-model="model.review.description" class="form-control"/></th>
                            <th><input ng-model="model.review.rating" class="form-control"/></th>
                            <th>
                                <button ng-click="model.addReview(model.review)" class="btn btn-primary">Add</button>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>