<div class="container container-fluid">
    <div class="row">
        <div class="top-buffer ">
        <img  ng-src="{{apartment.featured_photo.large}}">
            <h1 class="page-header">{{apartment.name}}
                <button ng-click="addApartmentToFavourites(apartment)" ng-show="newUser" type="submit" class="btn ">Add to Favourite</button>
            </h1>
            <br>
            <p>{{apartment.description}}</p>


            <h2 class="page-header">Amenities</h2>
            <ul>
                <li ng-repeat="amenities in apartment.amenities_list track by $index">
                    {{amenities}}
                </li>
            </ul>

        </div>
    </div>
</div>
</div>