<div class="wrapper search_panel_style">
    <form>
        <br>
        <div class="row">
            <div class="form-group col-xs-12 col-md-4">
                <div class="input-group">
                    <div class="input-group-addon">Place</div>
                    <input ng-model="model.search.place" type="text" class="form-control" id="inputPlace"
                           placeholder="Where to you want to go?">
                </div>
            </div>


            <div class="form-group col-xs-12 col-md-3">
                <div class="input-group">
                    <div class="input-group-addon">In</div>
                    <input placeholder="Date" onfocus="(this.type='date')" onBlur="(this.type='')" ng-model="model.search.startDate" class="form-control" id="inputStartDate">
                </div>
            </div>

            <div class="form-group col-xs-12 col-md-3">
                <div class="input-group">
                    <div class="input-group-addon">Out</div>
                    <input placeholder="Date" onfocus="(this.type='date')" onBlur="(this.type='')" ng-model="model.search.endDate" class="form-control" id="inputEndDate">
                </div>
            </div>

            <div class="form-group col-xs-12 col-md-2">
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span> </div>
                    <input type="text" ng-model="model.search.numberOfPeople" class="form-control"
                           id="inputNumberOfMembers" placeholder="How many people?">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <button  type="submit" ng-click="model.searchPlaces(model.search)" class="btn btn-block form_button_background form_button_text">Search</button>
            </div>
        </div>

    </form>
</div>

<div class="container margin_top_header" id="map" ></div>
<div class="container margin_top_header" >
    <h1 class="form_page_header text-center ">Search Results</h1>
    <h6 class="form_page_header text-center " ng-show="model.total_entries > '0'|| model.dbApartments.length > '0'">{{model.total_entries + model.dbApartments.length}} Results</h6>
</div>
<section class="listings">
    <div class="wrapper">
        <ul class="properties_list" >
            <li ng-repeat="place in model.places" ng-click="model.findDetailsById(place.place.place_details.id)">

                <a ng-click="model.findDetailsById(place.place.place_details.id)">
                    <img ng-src="{{place.place.place_details.featured_photo.large}}" alt="" title="" class="property_img"/>
                </a>
                <span class="price">${{place.place.pricing.price}}</span>
                <div class="property_details">
                    <h1>
                        <a class="truncate_property_title">{{place.place.place_details.name}}</a>
                    </h1>
                    <h2>Bedroom : {{place.place.place_details.number_of_bedrooms}}, Bath : {{place.place.place_details.number_of_bathrooms}}</h2>
                </div>

            </li>
            <li ng-repeat="place in model.dbApartments" ng-click="model.findDetailsByDBId(place._id)">

                <a ng-click="model.findDetailsByDBId(place._id)">
                    <img ng-src="./img/rentout-search.jpg" alt="" title="" class="property_img"/>
                </a>
                <span class="price">${{place.price}}</span>
                <div class="property_details">
                    <h1>
                        <a class="truncate_property_title">{{place.title}}</a>
                    </h1>
                    <h2>Bedroom : {{place.number_of_bedrooms}}, Bath : {{place.number_of_bathrooms}}</h2>
                </div>

            </li>
        </ul>
        <ul class="properties_list" >

        </ul>

        <nav ng-show="model.total_entries > '0'">
            <ul class="pager">
                <li class="previous"><a href ng-click="model.previousPage()"><span aria-hidden="true">&larr;</span> Previous</a></li>
                <li class="next"><a href ng-click="model.nextPage()">Next <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
            <h6 class="form_page_header text-center ">Page : {{model.current_page}} of {{model.total_pages}}</h6>
        </nav>
    </div>
</section>