<div class="wrapper search_panel_style">
    <form>
        <br>
            <div class="row">
                <div class="form-group col-xs-12 col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">Place</div>
                        <input ng-model="model.search.place" type="text" class="form-control" id="inputPlace"
                               placeholder="Where to you want to go?">
                    </div>
                </div>


                <div class="form-group col-xs-12 col-md-3">
                    <div class="input-group">
                        <div class="input-group-addon">In</div>
                        <input type="date" ng-model="model.search.startDate" class="form-control" id="inputStartDate">
                    </div>
                </div>

                <div class="form-group col-xs-12 col-md-3">
                    <div class="input-group">
                        <div class="input-group-addon">Out</div>
                        <input type="date" ng-model="model.search.endDate" class="form-control" id="inputEndDate">
                    </div>
                </div>

                <div class="form-group col-xs-12 col-md-2">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span> </div>
                        <input type="text" ng-model="model.search.numberOfPeople" class="form-control"
                               id="inputNumberOfMembers" placeholder="How many people?">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <button  type="submit" ng-click="model.searchPlaces(model.search)" class="btn btn-block form_button_background form_button_text">Search</button>
                </div>
            </div>

    </form>
</div>
<div id="map"></div>
<section class="listings">
    <div class="wrapper">
        <ul class="properties_list" >
            <li ng-repeat="place in model.places" ng-click="model.findDetailsById(place.place.place_details.id)">

                <a ng-click="model.findDetailsById(place.place.place_details.id)">
                    <img ng-src="{{place.place.place_details.featured_photo.large}}" alt="" title="" class="property_img"/>
                </a>
                <span class="price">${{place.place.pricing.price}}</span>
                <div class="property_details">
                    <h1>
                        <a class="truncate_property_title">{{place.place.place_details.name}}</a>
                    </h1>
                    <h2>Bedroom : {{place.place.place_details.number_of_bedrooms}}, Bath : {{place.place.place_details.number_of_bathrooms}}</h2>
                </div>

            </li>
        </ul>
        <div class="more_listing">
            <a href="#" class="more_listing_btn">View More Listings</a>
        </div>
    </div>
</section>