<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Admin</h1>
            <h2>User</h2>
            <div class="table-responsive margin_top_header panel panel-default">
                <table class="table">
                    <thead>
                    <tr>
                        <th><a ng-click="model.sortUsername()">Username <span ng-show="model.usernameAsc" class="glyphicon glyphicon-triangle-top"></span><span ng-show="model.usernameDesc" class="glyphicon glyphicon-triangle-bottom"></span></a></th>
                        <th>Password</th>
                        <th>Roles</th>
                        <th><a ng-click="model.sortfirstName()" class="no-breaking">First Name<span ng-show="model.firstNameAsc" class="glyphicon glyphicon-triangle-top"></span><span ng-show="model.firstNameDesc" class="glyphicon glyphicon-triangle-bottom"></span></a></th>
                        <th><a ng-click="model.sortlastName()" class="no-breaking">Last Name<span ng-show="model.lastNameAsc" class="glyphicon glyphicon-triangle-top"></span><span ng-show="model.lastNameDesc" class="glyphicon glyphicon-triangle-bottom"></span></a></th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <th><input type="text" ng-model="model.user.username" class="form-control"/></th>
                        <th><input type="password" ng-model="model.user.password" class="form-control"/></th>
                        <th><input  ng-model="model.user.roles"  class="form-control"/></th>
                        <th><input type="text" ng-model="model.user.firstName" class="form-control"/></th>
                        <th><input type="text" ng-model="model.user.lastName" class="form-control"/></th>
                        <th class="no-breaking">
                            <button ng-click="model.addUser(model.user)" class="btn form_button_background  glyphicon glyphicon-plus"></button>
                            <button ng-click="model.updateUser(model.user)" class="btn form_button_background  glyphicon glyphicon-ok"></button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in model.users">
                        <td>{{user.username}}</td>
                        <td></td>
                        <td>{{user.roles}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>
                            <button ng-click="model.removeUser($index)" class="btn form_button_background  glyphicon glyphicon-remove"></button>
                            <button ng-click="model.selectUser($index)" class="btn form_button_background  glyphicon glyphicon-cog"></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

