<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>Your Apartments</h1>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Bedrooms</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <th><input ng-model="model.apartment.title" class="form-control"/></th>
                        <th><input ng-model="model.apartment.bedrooms" class="form-control"/></th>
                        <th><input ng-model="model.apartment.description"  class="form-control"/></th>
                        <th>
                            <button ng-click="model.addApartment(model.apartment)" class="btn btn-primary">Add</button>
                            <button ng-click="model.updateApartment(model.apartment)" class="btn btn-primary btn-success">Update</button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="apartment in model.apartments">
                        <td>{{apartment.title}}</td>
                        <td>{{apartment.bedrooms | number:0 }}</td>
                        <td>{{apartment.description}}</td>
                        <td>
                            <button ng-click="model.removeApartment($index)" class="btn btn-danger">Remove</button>
                            <button ng-click="model.selectApartment($index)" class="btn btn-info">Select</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>