<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <form>
                <br>
                <fieldset class="form-group">
                    <label for="inputPlace">Place</label>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <input ng-model="search.place" type="text" class="form-control" id="inputPlace"
                                   placeholder="Where to you want to go?">
                        </div>
                    </div>
                </fieldset>
                <!--<fieldset class="form-group">-->
                <!--<label for="inputStartDate">Dates</label>-->
                <!--<div class="row">-->
                <!--<div class="form-group col-xs-6">-->
                <!--<input type="date" ng-model="search.startDate" class="form-control" id="inputStartDate" placeholder="From">-->
                <!--</div>-->
                <!--<div class="form-group col-xs-6">-->
                <!--<input type="date" ng-model="search.endDate" class="form-control" id="inputEndDate" placeholder="To">-->
                <!--</div>-->

                <!--</div>-->
                <!--</fieldset>-->
                <!--<fieldset class="form-group">-->
                <!--<label for="inputPlace">Number of people</label>-->
                <!--<div class="row">-->
                <!--<div class="form-group col-xs-12">-->
                <!--<input type="text" ng-model="search.numberOfPeople" class="form-control" id="inputNumberOfMembers" placeholder="How many people?">-->
                <!--</div>-->
                <!--</div>-->
                <!--</fieldset>-->
                <fieldset class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <button  type="submit" ng-click="searchPlaces(search)" class="btn btn-block">Search</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="table-responsive">
                <table class="table table-striped" ng-show="places">
                    <thead>
                    <tr>
                        <th>Thumbnail</th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="place in places" ng-click="findDetailsById(place.place.place_details.id)">
                        <td><img ng-src="{{place.place.place_details.featured_photo.medium}}"> </td>
                        <td>{{place.place.place_details.name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>