<section class="hero">
    <section class="caption">
        <h2 class="caption">Welcome Home</h2>
        <h3 class="properties">Find your holiday home</h3>
        <div class="wrapper ">
            <form class="" ng-submit="model.searchPlaces(model.search)">
                <!--<input type="text" ng-model="model.search.place" class="form-control" placeholder="Where do you want to go?">-->
                <autocomplete data="model.allCities" on-type="model.updateCities" on-select="model.findCities" ng-model="model.search.place" attr-input-class="form-control" click-activation="true" attr-placeholder="Where do you want to go?">
                    <!--<button ng-click="model.searchPlaces(model.search)" class="btn btn-default " type="button">Go!</button>-->
                </autocomplete>
            </form>
        </div>
        </div>
    </section>
</section><!--  end hero section  -->

<section class="listings">
    <div class="wrapper">
        <ul class="properties_list">
            <li ng-click="model.cityClick('New York')">
                <a href>
                    <img src="./img/NewYork.jpg" alt="" title="" class="property_img"/>
                </a>
                <span class="price">New York</span>
            </li>
            <li ng-click="model.cityClick('Stockholm')">
                <a href>
                    <img src="./img/Stockholm.jpg" alt="" title="" class="property_img"/>
                </a>
                <span class="price">Stockholm</span>
            </li>
            <li ng-click="model.cityClick('Madrid')">
                <a href>
                    <img src="./img/Madrid.jpg" alt="" title="" class="property_img"/>
                </a>
                <span class="price">Madrid</span>
            </li>
            <li ng-click="model.cityClick('Capetown')">
                <a href>
                    <img src="./img/Capetown.jpg" alt="" title="" class="property_img"/>
                </a>
                <span class="price">Capetown</span>
            </li>
            <li ng-click="model.cityClick('Barcelona')">
                <a>
                    <img src="./img/Barcelona.jpg" alt="" title="" class="property_img"/>
                </a>
                <span class="price">Barcelona</span>
            </li>
            <li ng-click="model.cityClick('Venice')">
                <a href>
                    <img src="./img/Venice.jpg" alt="" title="" class="property_img"/>
                </a>
                <span class="price">Venice</span>
            </li>
            <li ng-click="model.cityClick('London')">
                <a href>
                    <img src="./img/London.jpg" alt="" title="" class="property_img"/>
                </a>
                <span class="price">London</span>
            </li>
            <li ng-click="model.cityClick('Bruges')">
                <a href>
                    <img src="./img/Bruges.jpg" alt="" title="" class="property_img"/>
                </a>
                <span class="price">Bruges</span>
            </li>
            <li ng-click="model.cityClick('Prague')">
                <a href>
                    <img src="./img/Prague.jpg" alt="" title="" class="property_img"/>
                </a>
                <span class="price">Prague</span>
            </li>
        </ul>
        <!--<div class="more_listing">-->
        <!--<a href="#" class="more_listing_btn">View More Listings</a>-->
        <!--</div>-->
    </div>
</section>