<footer>
    <div class="wrapper footer">
        <ul>
            <li class="links">
                <ul>
                    <li><a href>About</a></li>
                    <li><a href>Support</a></li>
                    <li><a href>Terms</a></li>
                    <li><a href>Policy</a></li>
                    <li><a href>Contact</a></li>
                </ul>
            </li>

            <li class="links">
                <ul>
                    <li><a href>Appartements</a></li>
                    <li><a href>Houses</a></li>
                    <li><a href>Villas</a></li>
                    <li><a href>Mansions</a></li>
                    <li><a href>...</a></li>
                </ul>
            </li>

            <li class="links">
                <ul>
                    <li><a href>New York</a></li>
                    <li><a href>Los Anglos</a></li>
                    <li><a href>Miami</a></li>
                    <li><a href>Washington</a></li>
                    <li><a href>...</a></li>
                </ul>
            </li>

            <li class="about">
                <p>Founded in April of 2016 and based in Boston, Massachusetts, RentOut is a community marketplace for people to list, discover, and book unique accommodations around the world — online or from a mobile phone or tablet</p>
                <ul>
                    <li><a href="https://www.facebook.com/dhruvsshah" class="facebook" target="_blank"></a></li>
                    <li><a href="https://twitter.com/Dhruv7121991" class="twitter" target="_blank"></a></li>
                    <li><a href class="google" target="_blank"></a></li>
                    <li><a href class="skype"></a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="copyrights wrapper">
        Copyright © 2016 RentOut. All Rights Reserved.
    </div>
</footer>