<header ng-controller="HeaderController as model">
    <div class="wrapper">
        <a href="#/home"><span class=" renout_brand">RentOut</span></a>
        <a href class="hamburger navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></a>
        <nav id="navbar" class="navbar-collapse collapse">
            <ul>
                <li ng-hide="newUser" ng-class="{'active': $location.url()=='/register'}">
                    <a href="#/register">Register</a></li>
                <li ng-show="newUser.roles.indexOf('admin') >= 0">
                    <a href="#/admin">Admin</a></li>
                <li ng-show="newUser" ng-class="{'active': $location.url()=='/profile'}">
                    <a href="#/profile">{{newUser.firstName}}</a></li>
            </ul>
            <a href="" ng-hide="newUser" ng-click="open()" class="login_btn">Login</a>
            <a href="" ng-show="newUser" ng-click="model.logout()" class="login_btn">Logout</a>
        </nav>
    </div>
</header><!--  end header section  -->



